// @import "compass/css3/transition";
@import "compass";

.ss-container{
    width: 100%;
    position: relative;
    text-align: left;
    float: left;
	overflow: hidden;
	padding-bottom: 500px;
}
.ss-container h2{
    font-size: 2em;
    text-transform: uppercase;
}
.ss-container:before{
    position: absolute;
    width: 4px;
    background: rgba(17,17,22,0.8);
    top: 0px;
    left: 50%;
	margin-left: -2px;
    content: '';
    height: 100%;
}
.ss-row{
    width: 100%;
    clear: both;
    float: left;
    position: relative;
    padding: 30px 0;
}
.ss-left, .ss-right{
    float: left;
    width: 48%;
    position: relative;
}
.ss-right{
    padding-left: 2%;
}
.ss-left{
    text-align: right;
    float: left;
    padding-right: 2%;
}
.ss-circle{
    border-radius: 50%;
    display: block;
    text-align: left;
    @include box-shadow(
		0px 2px 5px rgba(0,0,0,0.7) inset, 
		0px 0px 0px 12px rgba(61,64,85,0.3));
  	position: static;

	h3 {
		display: none;
	}
}

.ss-circle.microsoft {
  background: #fff url('../images/logos/microsoft.png') center no-repeat;
}
.ss-circle.xtreme-labs {
  background: #fff url('../images/logos/XtremeLabs.png') center no-repeat;
}
.ss-circle.myplanet {
  background: #fff url('../images/logos/myplanet.png') center no-repeat;
}
.ss-circle.uwaterloo {
  background: #fff url('../images/logos/uwaterloo.png') center no-repeat;
}
.ss-circle.google {
  background: #fff url('../images/logos/google.png') center no-repeat;
}
.ss-circle.velocity {
  background: #fff url('../images/logos/velocity.png') center no-repeat;
}
.ss-circle.angelhack {
  background: #fff url('../images/logos/angelhack.png') center no-repeat;
}
.ss-circle.linkedin {
  background: #fff url('../images/logos/linkedin.png') center no-repeat;
}
.ss-circle.nasa {
  background: #000 url('../images/logos/nasa-space-apps.jpg') center no-repeat;
}
.ss-circle.gracehopper {
  background: #000 url('../images/logos/GraceHopperConf.jpg') center no-repeat;
}
.ss-circle.uwaterloo-s {
  background: #fff url('../images/logos/uwaterloo-s.png') center no-repeat;
}
.ss-circle.uwaterloo-eng {
  background: #fff url('../images/logos/WaterlooEngineering.png') center no-repeat;
}
.ss-small .ss-circle{
	width: 100px;
	height: 100px;
}
.ss-medium .ss-circle{
	width: 200px;
	height: 200px;
}
.ss-large .ss-circle{
	width: 300px;
	height: 300px;
}
.ss-circle-deco:before{
	width: 24%;
	height: 0px;
	border-bottom: 5px dotted rgba(14, 105, 156, 0.5);
  @include box-shadow(0px 1px 1px #fff);
	position: absolute;
	top: 50%;
	content: '';
	margin-top: -3px;
}

.ss-circle-deco:after{
	width: 0px;
	height: 0px;
	border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -10px;
}
.ss-left .ss-circle-deco:before{
    right: 2%;   
}
.ss-right .ss-circle-deco:before{
    left: 2%;   
}
.ss-left .ss-circle-deco:after{
	right: 0;
	border-right: 10px solid rgba(17,17,22,0.8);
}
.ss-right .ss-circle-deco:after{
	left: 0;
	border-left: 10px solid rgba(17,17,22,0.8);
}
.ss-left .ss-circle{
    float: right;
    margin: 10% 25% 10% 0;
}
.ss-right .ss-circle{
    float: left;
    margin: 10% 0 10% 25%;
}

.ss-container .description{
  margin-top: 34px;
	padding: 30px 15px;
	background: rgba(15, 156, 160, 0.8) url('../images/celestial011-t.png');
	text-shadow: 1px 1px 1px rgba(12, 120, 120, 0.8)
}
.ss-container .ss-medium .description{
	margin-top: 82px;
}
.ss-container .ss-large .description{
	margin-top: 133px;
}
.ss-container .ss-left .description{
	border-right: 5px solid rgba(181, 255, 255, 0.8);
}
.ss-container .ss-right .description{
	border-left: 5px solid rgba(181, 255, 255, 0.8);
}
.ss-container .description span{
    color: rgba(255,255,255,0.8);
    font-size: 1em;
    display: block;
    padding-bottom: 5px;
}
.ss-container .description a{
    font-size: 28px;
    color: rgba(255,255,255,0.9);
    display: block;
}
.ss-container .description a:hover{
	color: rgba(255,255,255,1);
}

