@import url("reset.css");
/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
/* line 10, ../sass/main.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 15, ../sass/main.scss */
html, body {
  height: 100%;
}

/* General Demo Style */
/* line 18, ../sass/main.scss */
body {
  color: white;
  font-family: 'Open Sans', Century Gothic, sans-serif;
  font-size: 16px;
  background: url("../images/redox_01.png");
  min-width: 1080px;
}

/* line 25, ../sass/main.scss */
a {
  color: #fff;
  text-decoration: none;
}

/* line 29, ../sass/main.scss */
.container {
  width: 100%;
  position: relative;
}

/* line 33, ../sass/main.scss */
.clr {
  clear: both;
}

/* line 36, ../sass/main.scss */
h1 {
  color: grey;
  font-size: 24px;
  position: relative;
  font-weight: 400;
  padding: 30px 5px 10px 5px;
  margin: 0px 15px;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
/* line 49, ../sass/main.scss */
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

/* line 54, ../sass/main.scss */
.posts li {
  line-height: 1.75em;
}

/* line 58, ../sass/main.scss */
.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
/* line 70, ../sass/main.scss */
.site {
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

/* line 77, ../sass/main.scss */
#header {
  position: fixed;
  height: 180px;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  min-width: 920px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFFFFFFF');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(5%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(top, #ffffff 5%, rgba(255, 255, 255, 0) 100%);
  background-image: -moz-linear-gradient(top, #ffffff 5%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(top, #ffffff 5%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(top, #ffffff 5%, rgba(255, 255, 255, 0) 100%);
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 91, ../sass/main.scss */
  .header .inner h1 {
    margin-top: -0.4em;
  }
}
/* line 97, ../sass/main.scss */
.header .inner {
  margin: auto;
  background: url("../images/celestial010-t.png");
  overflow: hidden;
}
/* line 101, ../sass/main.scss */
.header .inner h1 {
  font-family: 'Josefin Sans', 'Open Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 3em;
  color: white;
  margin-right: 20px;
  float: left;
}
/* line 109, ../sass/main.scss */
.header .inner .contact {
  font-size: 2em;
  line-height: 2em;
}
/* line 112, ../sass/main.scss */
.header .inner .contact a {
  margin: 0 10px;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  float: left;
}
/* line 119, ../sass/main.scss */
.header .inner .contact a:hover {
  color: rgba(152, 255, 255, 0.5);
}
/* line 122, ../sass/main.scss */
.header .inner .contact .flaticon-arrow {
  font-size: 14px;
  line-height: 55px;
}
/* line 126, ../sass/main.scss */
.header .inner .contact [class^="flaticon-"]:before, .header .inner .contact [class*=" flaticon-"]:before, .header .inner .contact [class^="flaticon-"]:after, .header .inner .contact [class*=" flaticon-"]:after {
  margin-left: 0;
  font-size: 27px;
}
/* line 132, ../sass/main.scss */
.header .inner p {
  font-size: 1.25em;
  margin-right: 2em;
  margin-bottom: 2em;
}
/* line 136, ../sass/main.scss */
.header .inner p [class^="flaticon-"]:before, .header .inner p [class*=" flaticon-"]:before, .header .inner p [class^="flaticon-"]:after, .header .inner p [class*=" flaticon-"]:after {
  margin-left: 10px;
}

/* line 143, ../sass/main.scss */
.header.header-shrink .inner {
  margin: 15px 20px;
  height: 60px;
  padding: 10px 50px;
  width: calc(100% - 140px);
  width: -webkit-calc(100% - 140px);
  width: -moz-calc(100% - 140px);
  width: -o-calc(100% - 140px);
  background-color: rgba(49, 192, 196, 0.9);
}
/* line 152, ../sass/main.scss */
.header.header-shrink .inner p {
  display: none;
}

/* line 157, ../sass/main.scss */
.header.header-show .inner {
  min-height: 250px;
  padding: 50px 50px;
  width: calc(100% - 200px);
  width: -webkit-calc(100% - 100px);
  width: -moz-calc(100% - 100px);
  width: -o-calc(100% - 100px);
  background-color: #006063;
}
/* line 165, ../sass/main.scss */
.header.header-show .inner p {
  display: block;
}
/* line 168, ../sass/main.scss */
.header.header-show .inner .down-arrow::after {
  display: block;
  float: left;
  content: '\2193';
  color: rgba(255, 255, 255, 0.5);
  font-size: 3em;
  line-height: 1;
}

/* line 178, ../sass/main.scss */
.header-space {
  margin-top: 400px;
}

/* line 183, ../sass/main.scss */
.header .inner {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

/* line 188, ../sass/main.scss */
.header .left-col {
  width: 50%;
  float: left;
}

/* line 193, ../sass/main.scss */
.header .right-col {
  width: 50%;
  min-width: 540px;
  float: left;
}

/* line 199, ../sass/main.scss */
.header .about {
  max-width: 900px;
}

@media all and (max-width: 1200px) {
  /* line 204, ../sass/main.scss */
  .header .left-col {
    width: auto;
  }
  /* line 206, ../sass/main.scss */
  .header .left-col .contact {
    display: none;
  }
}
/* line 213, ../sass/main.scss */
.container .header .ss-links {
  z-index: 100;
  clear: both;
}
/* line 216, ../sass/main.scss */
.container .header .ss-links [class^="flaticon-"]:before, .container .header .ss-links [class*=" flaticon-"]:before, .container .header .ss-links [class^="flaticon-"]:after, .container .header .ss-links [class*=" flaticon-"]:after {
  margin-left: 0;
  margin-top: 2px;
  float: left;
  width: 40px;
  text-align: center;
}
/* line 224, ../sass/main.scss */
.container .header .ss-links .icon-bigger:before, .container .header .ss-links .icon-bigger:after {
  font-size: 25px;
  vertical-align: middle;
  text-align: center;
}
/* line 230, ../sass/main.scss */
.container .header .ss-links .flaticon-code3:before, .container .header .ss-links .flaticon-code3:after {
  margin-top: 3px;
}

/* line 235, ../sass/main.scss */
.ss-links a:before {
  content: attr(data-icon);
}

/* line 239, ../sass/main.scss */
.ss-links a {
  background: rgba(0, 0, 0, 0.2);
  float: left;
  font-size: 1em;
  width: 40px;
  height: 40px;
  margin: 5px 15px;
  line-height: 2.3em;
  border-radius: 50%;
  border: 2px solid white;
  display: block;
  position: relative;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

/* line 254, ../sass/main.scss */
.ss-links a:hover {
  background: rgba(36, 197, 191, 0.75);
}
/* line 256, ../sass/main.scss */
.ss-links a:hover span {
  left: 55px;
  color: #fff;
  visibility: visible;
}

/* line 263, ../sass/main.scss */
.ss-links a.active:hover {
  background: rgba(0, 0, 0, 0.2);
}

/* line 267, ../sass/main.scss */
.ss-links a:active {
  background: rgba(0, 0, 0, 0.7);
}

/* line 271, ../sass/main.scss */
.ss-links a.active {
  background: rgba(36, 197, 191, 0.75);
}

/* line 275, ../sass/main.scss */
.ss-links a span {
  font-weight: normal;
  white-space: nowrap;
  visibility: hidden;
  position: absolute;
  left: 40px;
  top: 0;
  color: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.6s linear;
  -moz-transition: all 0.6s linear;
  -o-transition: all 0.6s linear;
  transition: all 0.6s linear;
}

/*******************************************************
*******************************************************/
/* line 289, ../sass/main.scss */
.tags.circle {
  height: inherit;
  width: inherit;
  position: relative;
}

/* line 295, ../sass/main.scss */
.tags.circle div {
  height: 70px;
  width: 70px;
  line-height: 70px;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  border: rgba(61, 64, 85, 0.3) 8px solid;
  background-color: #fff;
  position: absolute;
  color: black;
}
/* line 308, ../sass/main.scss */
.tags.circle div span {
  height: inherit;
  width: inherit;
  display: block;
  position: absolute;
  line-height: inherit;
}

/* line 320, ../sass/main.scss */
.tags.circle div.web,
.tags.circle div.debug,
.tags.circle div.osx,
.tags.circle div.android {
  height: 80px;
  width: 80px;
  line-height: 80px;
}

/* line 327, ../sass/main.scss */
.tags.circle div.algo,
.tags.circle div.assembly {
  height: 90px;
  width: 90px;
  line-height: 90px;
}

/* line 341, ../sass/main.scss */
.tags.circle div.js,
.tags.circle div.svn,
.tags.circle div.xml,
.tags.circle div.vim,
.tags.circle div.cpp,
.tags.circle div.git,
.tags.circle div.php,
.tags.circle div.csharp,
.tags.circle div.c {
  height: 60px;
  width: 60px;
  line-height: 60px;
}

/* line 347, ../sass/main.scss */
.ss-large .tags.circle div {
  top: 37%;
  left: 37%;
}

/* line 352, ../sass/main.scss */
.ss-medium .tags.circle div {
  top: 29%;
  left: 29%;
}

/* line 357, ../sass/main.scss */
.header-space {
  margin-bottom: 50%;
}

/* line 361, ../sass/main.scss */
.title {
  display: inline-block;
  margin-bottom: 2em;
}

/* line 366, ../sass/main.scss */
.title a {
  color: #a00;
}

/* line 370, ../sass/main.scss */
.title a:hover {
  color: #000;
}

/* line 374, ../sass/main.scss */
.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

/* line 379, ../sass/main.scss */
.header a.extra:hover {
  color: #000;
}

/* line 383, ../sass/main.scss */
.meta {
  color: #aaa;
}

/* line 387, ../sass/main.scss */
.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

/* line 395, ../sass/main.scss */
.footer .contact {
  float: left;
  margin-right: 3em;
}

/* line 400, ../sass/main.scss */
.footer .contact a {
  color: #8085C1;
}

/* line 404, ../sass/main.scss */
.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

/* line 410, ../sass/main.scss */
.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
/* standard */
/* line 421, ../sass/main.scss */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

/* line 427, ../sass/main.scss */
.post ul, .post ol {
  margin-left: 1.35em;
}

/* line 431, ../sass/main.scss */
.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

/* line 437, ../sass/main.scss */
.post pre code {
  border: none;
}

/* terminal */
/* line 442, ../sass/main.scss */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

/* line 448, ../sass/main.scss */
.post pre.terminal code {
  background-color: #333;
}

/* line 452, ../sass/main.scss */
.hide {
  display: none;
}

/* line 456, ../sass/main.scss */
.ss-row-title h2 {
  color: rgba(15, 156, 160, 0.8);
  text-shadow: 1px 0px 1px rgba(106, 131, 163, 0.5);
}
