/* line 4, ../sass/style.scss */
.ss-container {
  width: 100%;
  position: relative;
  text-align: left;
  float: left;
  overflow: hidden;
  padding-bottom: 500px;
}

/* line 12, ../sass/style.scss */
.ss-container h2 {
  font-size: 2em;
  text-transform: uppercase;
}

/* line 16, ../sass/style.scss */
.ss-container:before {
  position: absolute;
  width: 4px;
  background: rgba(17, 17, 22, 0.8);
  top: 0px;
  left: 50%;
  margin-left: -2px;
  content: '';
  height: 100%;
}

/* line 26, ../sass/style.scss */
.ss-row {
  width: 100%;
  clear: both;
  float: left;
  position: relative;
  padding: 30px 0;
}

/* line 33, ../sass/style.scss */
.ss-left, .ss-right {
  float: left;
  width: 48%;
  position: relative;
}

/* line 38, ../sass/style.scss */
.ss-right {
  padding-left: 2%;
}

/* line 41, ../sass/style.scss */
.ss-left {
  text-align: right;
  float: left;
  padding-right: 2%;
}

/* line 46, ../sass/style.scss */
.ss-circle {
  border-radius: 50%;
  display: block;
  text-align: left;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7) inset, 0px 0px 0px 12px rgba(61, 64, 85, 0.3);
  -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7) inset, 0px 0px 0px 12px rgba(61, 64, 85, 0.3);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7) inset, 0px 0px 0px 12px rgba(61, 64, 85, 0.3);
  position: static;
}
/* line 55, ../sass/style.scss */
.ss-circle h3 {
  display: none;
}

/* line 60, ../sass/style.scss */
.ss-circle.microsoft {
  background: white url("../images/logos/microsoft.png") center no-repeat;
}

/* line 63, ../sass/style.scss */
.ss-circle.xtreme-labs {
  background: white url("../images/logos/XtremeLabs.png") center no-repeat;
}

/* line 66, ../sass/style.scss */
.ss-circle.myplanet {
  background: white url("../images/logos/myplanet.png") center no-repeat;
}

/* line 69, ../sass/style.scss */
.ss-circle.uwaterloo {
  background: white url("../images/logos/uwaterloo.png") center no-repeat;
}

/* line 72, ../sass/style.scss */
.ss-circle.google {
  background: white url("../images/logos/google.png") center no-repeat;
}

/* line 75, ../sass/style.scss */
.ss-circle.velocity {
  background: black url("../images/logos/velocity-logo.png") center no-repeat;
}

/* line 78, ../sass/style.scss */
.ss-circle.angelhack {
  background: white url("../images/logos/angelhack.png") center no-repeat;
}

/* line 81, ../sass/style.scss */
.ss-circle.linkedin {
  background: white url("../images/logos/linkedin.png") center no-repeat;
}

/* line 84, ../sass/style.scss */
.ss-circle.nasa {
  background: black url("../images/logos/nasa-space-apps.jpg") center no-repeat;
}

/* line 87, ../sass/style.scss */
.ss-circle.gracehopper {
  background: black url("../images/logos/GraceHopperConf.jpg") center no-repeat;
}

/* line 90, ../sass/style.scss */
.ss-circle.uwaterloo-s {
  background: white url("../images/logos/uwaterloo-s.png") center no-repeat;
}

/* line 93, ../sass/style.scss */
.ss-circle.uwaterloo-eng {
  background: white url("../images/logos/WaterlooEngineering.png") center no-repeat;
}

/* line 96, ../sass/style.scss */
.ss-small .ss-circle {
  width: 100px;
  height: 100px;
}

/* line 100, ../sass/style.scss */
.ss-medium .ss-circle {
  width: 200px;
  height: 200px;
}

/* line 104, ../sass/style.scss */
.ss-large .ss-circle {
  width: 300px;
  height: 300px;
}

/* line 108, ../sass/style.scss */
.ss-circle-deco:before {
  width: 24%;
  height: 0px;
  border-bottom: 5px dotted rgba(14, 105, 156, 0.5);
  -webkit-box-shadow: 0px 1px 1px white;
  -moz-box-shadow: 0px 1px 1px white;
  box-shadow: 0px 1px 1px white;
  position: absolute;
  top: 50%;
  content: '';
  margin-top: -3px;
}

/* line 119, ../sass/style.scss */
.ss-circle-deco:after {
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -10px;
}

/* line 129, ../sass/style.scss */
.ss-left .ss-circle-deco:before {
  right: 2%;
}

/* line 132, ../sass/style.scss */
.ss-right .ss-circle-deco:before {
  left: 2%;
}

/* line 135, ../sass/style.scss */
.ss-left .ss-circle-deco:after {
  right: 0;
  border-right: 10px solid rgba(17, 17, 22, 0.8);
}

/* line 139, ../sass/style.scss */
.ss-right .ss-circle-deco:after {
  left: 0;
  border-left: 10px solid rgba(17, 17, 22, 0.8);
}

/* line 143, ../sass/style.scss */
.ss-left .ss-circle {
  float: right;
  margin: 10% 25% 10% 0;
}

/* line 147, ../sass/style.scss */
.ss-right .ss-circle {
  float: left;
  margin: 10% 0 10% 25%;
}

/* line 152, ../sass/style.scss */
.ss-container .description {
  margin-top: 34px;
  padding: 30px 15px;
  background: rgba(15, 156, 160, 0.8) url("../images/celestial011-t.png");
  text-shadow: 1px 1px 1px rgba(12, 120, 120, 0.8);
}

/* line 158, ../sass/style.scss */
.ss-container .ss-medium .description {
  margin-top: 82px;
}

/* line 161, ../sass/style.scss */
.ss-container .ss-large .description {
  margin-top: 133px;
}

/* line 164, ../sass/style.scss */
.ss-container .ss-left .description {
  border-right: 5px solid rgba(181, 255, 255, 0.8);
}

/* line 167, ../sass/style.scss */
.ss-container .ss-right .description {
  border-left: 5px solid rgba(181, 255, 255, 0.8);
}

/* line 170, ../sass/style.scss */
.ss-container .description span {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1em;
  display: block;
  padding-bottom: 5px;
}

/* line 176, ../sass/style.scss */
.ss-container .description a {
  font-size: 28px;
  color: rgba(255, 255, 255, 0.9);
  display: block;
}

/* line 181, ../sass/style.scss */
.ss-container .description a:hover {
  color: white;
}
